@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#0081a7;
    width: 100%;
    height: 4.5rem;
  
}
.websiteTitle{
    flex: 1;
    justify-content: center;
    color: white;
    font-size: 3rem;
    /*font-family: 'Bebas Neue', cursive;*/
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 3rem;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.navbarIcons {
    display: flex;
    flex-direction: row;
    align-items: right;
}

.icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 4rem;
    opacity: 0.8;
}