/* Import statement for the fonts used*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
/* This applies to every page that uses this style sheet */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The style for the blue header that appears on each page */
.header {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#0081a7;
    width: 100%;
    height: 5vw;
  
}
/* The style for the text in the header */
.website-title{
    flex: 1;
    justify-content: center;
    color: white;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
}
/* The horizontal navigation bar style */
.navbar-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    top: 8vh; 
}
.navbar{
    align-items: center;
    width: 75%;
    margin-top: 4vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 2vh;
}
.navbar-icons {
    margin-top: 4vh;
    margin-left: 12vw;
    margin-bottom: 2vh;
    width: 25%;
}
nav ul li{
    display: inline-block;
    margin-right: 3vw;
}

/* All the anchor tags will be styles this way unless specified otherwise */
a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/* any icon with this class tag will be styles like this */
.icons{
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 4.5vw;
    opacity: 0.8;
}

/* the style for the footer container */
.footer{
    display: flex;
    flex-direction: row;
    margin: 3.5vw;
    align-items: top;
    justify-content: center;
}
.footer-columns{
    margin-right: 5vw
}
.website-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2vw;
}
.footer-subtitle{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.7vw;
}
.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    width: 15vw;
    padding-top: 0.8vw;
}
.footer-text2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    width: 10vw;
    padding-bottom: 0.8vw;
    padding-top: 0.8vw;
}
/* the container for the social media icons in the footer*/
.footer-social-icons{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0.8vw;
}
/* the style for the icons used in the footer */
.footer-icon{
    width: 1.7vw;
    height: 1.7vw;
    opacity: 0.8;
}
/* the style for the input field */
.email-input{
    border: none;
    margin-top: 1vh ;
    width: 15vw;
}
/* the container for the input field and button */
.input-div{
    display: flex;
    flex-direction: row;
}
/* styling for the submit button in the footer */
.submit-btn{
    border: none;
    width: 5vw;
    height: 4.5vh;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.4vw;
    text-decoration: none;
}
/* styling for the line break under the input field */
.line-break{
    border: 2px solid black;
    margin-top: 1vh;
    margin-right: 1vw ;
}

/* styling for the placeholder inside the input field */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12pt; 
 }

/* homepage content styling starts here */

/* this is to make the main content start below the header and nav bar */
.homepage-content{
    margin-top: 9vw;
}

/* the outer container for images */
 .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-left: 2vw;
    width: 100%
  } 
  
/* the style for the top images */
  .grid-item-top {
    margin: 1vw 2vw 1vw 0;
    position: relative;
    text-align: center;
  }
  .image-top-row{
    width: 47vw;
    height: auto; 
  }
/* the style for the bottom images */
  .grid-item-bottom {
    margin: 1vw 2vw 1vw 0; 
    position: relative;
    text-align: center;
  }
  .image-bottom-row{
    width: 30.7vw;
    height: auto; 
  }
  
/* the styling for the text on the images */
  .centered-text{
    color: white; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 9vh;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* styling for clothing pages stars here */

/* the outer container for the clothing page */
.main-c-container{
    display: flex;
    flex-direction: row;
    margin-top: 10vw;
  }
/* the container for the vertical navigation bar */
  .vertical-nav{
    width: 15vw;
    position: fixed;
  }
/* styling for the list elements in the vertical nav */
  .vertical-nav li{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    margin-top: 4vh;
    padding-left: 1vw;
  }
/* the outer container for all items */
  .c-containter{
    width: 100%;
    height:100%;
    margin-left: 15vw;
    position: relative;
  }
  .c-containter .text{
    font-family: 'Bebas Neue', cursive;
    font-size: 5vh;
  }
/* any a tag in this class will be styled as such */
  a.anchor {
    display: block;
    position: relative;
    top: -12vw;
    visibility: hidden;
  }
/* contianer for each category of clothes */
  .c-grid-containter{
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw;
    justify-content: space-between;
    padding: 0 2vw 2vw 2vw;
    
  }
/* container for individual clothing items */
  .c-grid-item {
    position: relative;
    text-align: left;
    margin: 2vw 1vw 2vw 1vw;
  }
/* style for h3s in the item containers */
  .c-grid-item h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    padding-bottom: 1vh;
  }
/* style for h2s in the item containers */
  .c-grid-item h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
}
/* add to cart button style */
.cart-button{
    border: none;
    width: 15vw;
    height: 3vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    transition-duration: 0.4s;
}
/* hover style for add to cart buttons */
.cart-button:hover{
    background-color:#0081a7;
}
/* clothing item image styles */
.c-item-image {
    width: 15vw;
    height: 37vh;
}
  
  .mens-clothing-content {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.shoes-content {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.jeans-content {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.clearance-content {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}