@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#0081a7;
    width: 100%;
    height: 5vw;
  
}
.websiteTitle{
    flex: 1;
    justify-content: center;
    color: white;
    font-size: 3.5vw;
    /*font-family: 'Bebas Neue', cursive;*/
    font-family: 'Montserrat', sans-serif;
}
.navbarContainer{
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    top: 4.5vw;
}
.navbar{
    display: flex;
    align-items: center;
    margin-top: 2vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 3vw;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.navbarIcons {
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-left: 27vw;
}

.icons{
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 4.5vw;
    opacity: 0.8;
}
.footer{
    display: flex;
    flex-direction: row;
    margin: 3.5vw;
    align-items: top;
    justify-content: center;
}
.footerColumns{
    margin-right: 5vw
}
.websiteName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2vw;
}
.subtitle{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.7vw;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    width: 15vw;
    padding-top: 0.8vw;
}
.text2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    width: 10vw;
    padding-bottom: 0.8vw;
    padding-top: 0.8vw;
}
.footerIcons{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0.8vw;
}
.footerIcon{
    width: 1.7vw;
    height: 1.7vw;
    opacity: 0.8;
}
.emailInput{
    border: none;
    margin-top: 1vh ;
    width: 15vw;
}
.inputDiv{
    display: flex;
    flex-direction: row;
}
.submitBtn{
    border: none;
    width: 5vw;
    height: 4.5vh;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.4vw;
    text-decoration: none;
}
.lineBreak{
    border: 2px solid black;
    margin-top: 1vh;
    margin-right: 1vw ;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12pt; 
 }

 .mainContent{
     margin-top: 9vw;
 }
 .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-left: 2vw;
    width: 100%
  } 
  .grid-item-top {
    margin: 1vw 2vw 1vw 0;
    position: relative;
    text-align: center;
  }
  .grid-item-bottom {
    margin: 1vw 2vw 1vw 0; 
    position: relative;
    text-align: center;
  }
  .image-top-row{
    width: 47vw;
    height: auto; 
  }
  .image-bottom-row{
    width: 30.7vw;
    height: auto; 
  }
  
  .centered-text{
    color: white; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 9vh;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }